/* No image styles */

.heroComponentNoImage {
  background-image: url('../images/hero_bg.png');
  height: 92vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hero Component with Image */
.heroComponent {
  background-image: url('../images/hero_bg.png');
  height: 92vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroText {
  max-width: 45%; 
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  transform: translateX(10vw) translateY(30vh);
}

.title {
  color: #fff;
  font-family: "Source Sans 3";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.subText {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aboutBttn {
  all: unset;
  cursor: pointer;
  display: flex;
  padding: 5px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #9b77da;
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img {
  padding: 40px 72px 40px 64px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.img img{
  max-width: 100%;
  min-width: 350px;
  height: auto;
}

.link{
  all: unset;
}