.navComponent {
  background-color: #1a0047;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 80px;
  height: 60px;
  padding: 0px 200px;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
