.projectcard:nth-child(even) {
  background: #a591c4;
}
.projectcard:nth-child(odd) {
  background: #cdb7f1;
}

.projectcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 18px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  all: unset;
  color: #39065a;
  font-family: Nunito Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.desc {
  all: unset;
  color: #000;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Linkbttn {
  all: unset;
  cursor: pointer;
  padding: 5px 20px;
  justify-content: center;
  border-radius: 20px;
  background: #9b77da;
}

.Linkbttn a {
  color: #fff;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.img1{
  width: 140px;
  height: 180px;
  border-radius: 18px;
}


.img2{
  width: 120px;
  height: 150px;
  border-radius: 18px;
}
