.text {
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.title {
  color: #39065a;
  font-family: Nunito Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  color: #000;
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img img{
    width: 800px;
    height: 500px;
    border-radius: 35px;
    justify-content: center;
}

